@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* input */

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.1s ease, box-shadow 0.2s ease;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.1s ease, box-shadow 0.2s ease;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-out-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.accessInput {
  background-color: #f2f4f6;
  width: 100%;
  padding: 0 18px;
  font-size: 16px;
  line-height: 48px;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.1s ease, box-shadow 0.2s ease;
}

.accessInput:hover {
  background-color: #ebedf0;
  transition: background-color 0.2s ease, color 0.1s ease, box-shadow 0.2s ease;
}

.accessInput:focus {
  background-color: #e5e8eb;
  transition: background-color 0.2s ease, color 0.1s ease, box-shadow 0.2s ease;
}

/* checkbox */
.check_box input {
  display: none;
}

.check_box:last-child {
  margin-right: 0;
}

.check_box .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid #bec8d0;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.check_box .icon::before,
.check_box .icon::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 0;
  background-color: #5c79f1;
  position: absolute;
  transform-origin: left top;
  border-radius: 3px;
}

.check_box .icon::before {
  top: 49%;
  left: 4px;
  transform: rotate(-45deg);
}

.check_box .icon::after {
  top: 74%;
  left: 8.5px;
  transform: rotate(-135deg);
}

.check_box input:checked+.icon {
  background-image: url(/images/ico_box.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.check_box input:checked+.icon::before {
  height: 6px;
  transition: all 0.2s ease;
}

.check_box input:checked+.icon::after {
  height: 16px;
  transition: all 0.3s ease 0.2s;
}

/* progress bar */

#nprogress {
  pointer-events: 'none';
}

#nprogress .bar {
  top: 0;
  left: 0;
  height: 4px;
  z-index: 9999;
  width: 100%;
  position: fixed;
  background-color: #3182f6;
  box-shadow: 0 0 2px #3182f6
}

#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px #3182f6, 0 0 5px #3182f6;
}

/* table */
table {
  width: 100%;
  /* border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #fff; */
  font-size: 14px;
}

tfoot {
  background-color: #eee;
}

th,
td {
  position: relative;
  padding: 6px 14px;
  /* border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray; */
  text-align: left;
}

/* th,
td:last-child {
  border-right: none;
} */

td {
  border-bottom: 1px solid lightgray;
}

th {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #eee;
}